h1 {
  color: blue;
}

.square {
  width: 200px;
  height: 200px;
  border: solid black 2px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 618px;
  height: 600px;
}

.mole {
  background-image: url('diglett.jpeg');
  background-size: cover;
}